[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
orjson = "==3.10.12"
anyio = "*"
requests = "*"
pysignalr = "*"

[dev-packages]
pylint = "*"
pipenv = "*"

[requires]
python_version = "3"
